header {
    font-size: 30px;
    text-align: center;
    

}
main {
    text-align: center;
    font-size: 20px;
    
}
body{
    font-size: 20px;
    background-color:lightskyblue;
}
h1{
    font-size: 40px;
}
nav{
     font-size: 30px;
    background-color: lightgrey;
    border-radius: 16px;
    
    text-align: center;
    padding: 5px;
    
}
nav a{
    margin: 20px;
}
